.our-team {
	padding-top: 94px;
	padding-bottom: 94px;

	background-color: var(--icon-backrgound-color-features);
}

.our-team__list {
	display: flex;
}

.our-team__member {
	flex-basis: calc((100% - 90px) / 4);
	margin-right: 30px;

	background-color: var(--primary-text-color-light);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	&:last-child {
		margin-right: 0;
	}
}

.team-member__info {
	padding-top: 30px;
	padding-bottom: 30px;

	font-size: 16px;
	line-height: 1.19;
}
.team-member__name {
	margin-bottom: 10px;
	font-weight: 500;
}

.team-member__title {
	margin-bottom: 16px;

	font-weight: 400;

	color: var(--primary-paragraph-color);
}

.team-member__social-icons {
	justify-content: center;

	color: var(--icon-backrgound-color);
}
